<div class="header">
    <a href="/" class="logo"><span><%=data.siteName.replace(" ","")%></span></a>
    <form action="/search" method="get" class="options">
        <input type="search" name="query" id="search" placeholder="Search recipe titles, descriptions, ingredients">
    </form>
    <%if(typeof loggedIn !== 'undefined' && loggedIn){%>
        <div class="dropdown account">
            <div class="dropdown-button"><%=username%> ▼</div>
            <div class="dropdown-content">
                <a href="/create"><img src="/images/add_button.png" alt="add icon" width="16px" style="vertical-align: text-top;"> Write a recipe</a>
                <a href="#"><img src="/images/profile_button.png" alt="profile icon" width="16px" style="vertical-align: text-top;"> Profile</a>
            </div>
        </div>
    <%}else{%>
        <a href="/login" class="account">Login or Register</a>
    <%}%>
</div>