<div class="header">
    <a href="/" class="logo"><span><%=data.siteName.replace(" ","")%></span></a>
    <form action="/search" method="get" class="options">
        <input style="background-image: url('https://www.doc.gold.ac.uk/usr/180/images/search_icon.png');" type="search" name="q" id="search" placeholder="Search recipes here.." value="<%=typeof(search)!=='undefined'?search.q:''%>">
    </form>
    <%if(typeof loggedIn !== 'undefined' && loggedIn){%>
        <div class="dropdown account">
            <div class="dropdown-button"><%=username%> ▼</div>
            <div class="dropdown-content">
                <a href="/about"><img src="/images/about_icon.png" alt="about icon" width="16px" style="vertical-align: text-top;"> About</a>
                <a href="/create"><img src="/images/add_button.png" alt="add icon" width="16px" style="vertical-align: text-top;"> Write a recipe</a>
                <a href="/users/<%=username%>"><img src="/images/profile_button.png" alt="profile icon" width="16px" style="vertical-align: text-top;"> Profile</a>
                <a href="/user/logout"><img src="/images/logout_button.png" alt="Door icon" width="16px" style="vertical-align: text-top;"> Logout</a>
            </div>
        </div>
    <%}else{%>
        <a href="/login" class="account">Login or Register</a>
    <%}%>
</div>