<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register - <%=data.siteName%></title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="/css/single.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--header from partials-->
        <%- include('partials/header') %>
        <!--header from partials-->

        <div class="content">
            <div class="form-only">
                <h1>Login</h1>
                <% if (typeof formerror !== 'undefined' && formerror) { %>
                    <% for(let item of formerror){ %>
                        <h2 class="error"><%= item %></h2>
                <% }} else{formerror = false} %>
                <form class="fields" method="post" action="/login/submit">
                    <span>Email Address: </span>
                    <input id="email" name="email" type="email" spellcheck="false" autocomplete="email" required <%if(formerror){%>value="<%=email%>"<%}%>>

                    <span>Password: <button type="button" id="show-password">show</button></span>
                    <input id="password" name="password" type="password" autocomplete="current-password" required>
                    <button type="submit">Login</button>

                    <a href="/register">Need to register?</a>
                </form>
            </div>
        </div>
    </body>

    <script>
        let passwordField = document.getElementById("password")
        let showPassword = document.getElementById("show-password");

        showPassword.addEventListener("click", function(){
            if(passwordField.type == "password"){
                passwordField.type = "text";
                showPassword.innerHTML = "&nbsp;hide";
            }
            else{
                passwordField.type = "password";
                showPassword.innerText = "show";
            }
        })
    </script>
</html>