<!doctype html>
<html>
  <head>
    <title>Welcome to <%=data.siteName%></title>
    <!-- <link rel="stylesheet"  type="text/css" href="/main.css" /> -->
  </head>
  <body>
    <h1>Welcome to <%=data.siteName%></h1>
  </body>
</html>
