* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;

    font-family: Montserrat;

}

body {
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #C2CFB2;
}

a{
    color: white;
}
a.recipe-credit:hover{
    color: #C57B57;
}

.header {
    z-index: 999;
    display: grid;
    grid-template-columns: 1fr 2.5fr 0.5fr;
    grid-template-areas: "a b";
    width: 100%;
    background-color: #F7F7F7;
    color: #143109;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    align-items: center;
    position: fixed;
}

.header .logo{
    grid-area: a;
    font-size: 40px;
    color: #143109;
    text-decoration: none;
    font-weight: bold;
    border-right: #143109 solid 2px;
}
.header .logo span{
    display: block;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.header .logo span:hover{
    transform: scaleX(0.95);
    transform-origin: left;
    -webkit-transform: scaleX(0.95);
    -moz-transform: scaleX(0.95);
    -ms-transform: scaleX(0.95);
    -o-transform: scaleX(0.95);
    color: #C57B57;
}
.header .options{
    grid-area: b;
}
.header .options input{
    background-image: url('/images/search_icon.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 10px;
    background-size: 28px;

    background-color: #302F4D;
    color: #C2CFB2;
    width: 80%;
    padding: 12px;
    padding-left: 44px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    transition: 0.8s all;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: 0.8s all;
    -moz-transition: 0.8s all;
    -ms-transition: 0.8s all;
    -o-transition: 0.8s all;
}
.header .options input:focus{
    border: none;
    outline: 1px solid #302F4D;
    background-color: #C2CFB2;
    color: #302F4D;
}

.header .account{
    grid-area: 'b';
    color: #302F4D;
    text-decoration: none;
    text-align: right;
    margin-right: 10px;
}

.more-posts{
    display: flex;
    width: 100%;
    justify-content: center;
}
.more-posts button{
    width: 170px;
    padding: 10px;
    color: #C2CFB2;
    background-color: #302F4D;
    border-radius: 10px;
    border: 1px solid #302F4D;
    cursor:pointer;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.more-posts button:disabled{
    color: #143109;
    background-color: #C2CFB2;
    cursor: not-allowed;
}
.more-posts button:hover{
    background-color: #143109;
}
.more-posts button:disabled:hover{
    background-color: #C2CFB2;
}
.more-posts input{
    max-width: 100px;
    text-align: center;
    margin: 0px 20px;
    height: 100%;
    border: 1px solid #302F4D;
    background-color: #F7F7F7;


    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.content {
    display: flex;
    flex: 1;
    padding: 20px;
    padding-top: 100px;
    text-align: center;
    justify-content: start;
    flex-direction: row;
}
.content .general-text{
    color: #302F4D;
}
.content .content-side{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    max-height: calc(100vh - 120px);
    overflow-y: scroll;
}
.content .content-side.left{
    width: 45%;
}
.content .content-side.right{
    width: 55%;
    align-items: center;
    border-left: solid 2px #302F4D;
}
.content .content-side.left.search-options{
    width: 25%;
}
.content .content-side.left.search-options form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    width: 100%;
    padding-right: 20px;
}
.content .content-side.left.search-options form .date-range{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 2px #143109;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.content .content-side.left.search-options form input{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 2px #143109;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    background-color: #302F4D;
    color: #C2CFB2;
    font-size: 15px;
    transition: 0.8s all;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: 0.8s all;
    -moz-transition: 0.8s all;
    -ms-transition: 0.8s all;
    -o-transition: 0.8s all;
}
.content .content-side.left.search-options form input:focus{
    outline: none;
    border: 2px solid #302F4D;
    background-color: #C2CFB2;
    color: #302F4D;
}
.content .content-side.left.search-options form input[type='submit']{
    width: 50%;
    align-self: end;
    text-align: center;
}
.content .content-side.left.search-options form input[type='checkbox']{
    align-self: end;
}
.content .content-side.right.search-options{
    width: 100%;
}
.content .content-side.right.search-options .result-container{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-left: 20px;
    justify-content: space-between;
}
.content .content-side.right.search-options .result-container .result{
    display: inline-block;
    width: 48%;
}
.content .content-side.right.search-options .result-container .result .post-div{
    width: 100%;
    max-width: 100%;
}
.content .unregistered{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content .unregistered span{
    color: #143109;
    font-size: 20px;
    font-weight: bolder;
    text-align: left;
}
.content .unregistered span a{
    color: #302F4D;
}
.content h1{
    font-size: 40px;
    color: #302F4D;
    width: 100%;
    text-decoration: underline;
}
.content .left h1{
    text-align: left;
}
.content .post-div{
    width: fit-content;
    max-width: 90%;
}
.content .profile-details{
    width: 100%;
    max-width: unset;
}
.content .left .profile-details{
    width: calc(100% - 20px);
    max-width: unset;
}
.content .profile-details div{
    background-color: #302F4D;
}
.content .post{
    display: block;
    width: 100%;
    height: fit-content;
    padding: 10px;
    margin: 20px auto;
    background-color: #143109;
    color: #F7F7F7;
    text-align: left;
    text-decoration: none;
    transition: all 0.8s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
}
.post .bottom{
    margin-top: 20px;
    border-top: #C57B57 solid 1px ;
    display: flex;
}
.post .bottom .tag{
    color: #C2CFB2;
    margin-right: 20px;
    margin-top: 10px;
}
a.post .bottom{
    margin-top: 0px;
    border-top: none;
}
.content a.post:hover{
    background-color: #302F4D;
    transform: scaleX(1.02);
    transform-origin: left;
    -webkit-transform: scaleX(1.02);
    -moz-transform: scaleX(1.02);
    -ms-transform: scaleX(1.02);
    -o-transform: scaleX(1.02);
}
.content .content-side.right a.post:hover{
    background-color: #302F4D;
    transform: scaleX(1.02);
    transform-origin: center;
    -webkit-transform: scaleX(1.02);
    -moz-transform: scaleX(1.02);
    -ms-transform: scaleX(1.02);
    -o-transform: scaleX(1.02);
}
.content .post .title{
    font-size: 22px;
    color: #C2CFB2;
}
.content .post .description{
    font-size: large;
    border-top: 1px solid #C57B57;
    max-height: 200px;
    text-wrap: wrap;
    overflow-y: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}
.content .post .ingredients{
    font-size: large;
    max-height: 60px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}
.content .post .details .username{
    display: inline-block;
    text-align: left;
    margin-right: 10px
}
.content .post .details{
    border-top: 1px solid #C57B57;
    border-bottom: 1px solid #C57B57;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: #143109;
    color: #C2CFB2;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    position: relative;
    width: 100%;

}

.dropdown-content {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    position: absolute;
    background-color: #302F4D;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.dropdown-content a {
    color: #C2CFB2;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 14px;

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.dropdown-content a:hover {
    background-color: #143109;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}